@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

@{
    Layout = null;
}

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/checkout.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

<div class="section-margin " data-component="checkout-overview" id="checkout-overview">
    <template v-if="model">
        <div class="row well overflow-hidden">
            <div class="col-md-6">
                <h3 class="heading-underline">@Html.Resource("BillingAddress", "UcommerceResources")</h3>
                <br />
                <address>
                    <span class="address-line"><strong>{{ model.BillingAddressDTO.FirstName }} {{ model.BillingAddressDTO.LastName }}</strong></span><br>
                    <span class="address-line">{{ model.BillingAddressDTO.Line1 }}<br></span>
                    <span class="address-line">{{ model.BillingAddressDTO.PostalCode }} {{ model.BillingAddressDTO.City }}</span><br>
                    <span class="address-line">{{ model.BillingAddressDTO.CountryName }}</span>
                    <template v-if="model.BillingAddressDTO.Attention">
                        <span class="address-line"><text>att. </text> {{ model.BillingAddressDTO.Attention }}</span>
                    </template>
                    <br>
                    <span class="address-line"><abbr title="@Html.Resource("Phone", "UcommerceResources")">P:</abbr>{{ model.BillingAddressDTO.PhoneNumber }}</span><br>
                    <span class="address-line"><abbr title="@Html.Resource("Mobile", "UcommerceResources")">M:</abbr>{{ model.BillingAddressDTO.MobilePhoneNumber }} </span><br>
                    <span class="address-line"><abbr title="@Html.Resource("Email", "UcommerceResources")">E:</abbr><a :href="'mailto:' + model.BillingAddressDTO.EmailAddress">{{ model.BillingAddressDTO.EmailAddress }}</a></span>
                </address>
            </div>
            <div class="col-md-6">
                <h3 class="heading-underline">@Html.Resource("ShippingAddress", "UcommerceResources")</h3>
                <br />
                <address>
                    <span class="address-line"><strong>{{ model.ShipmentAddressDTO.FirstName }} {{ model.ShipmentAddressDTO.LastName }}</strong></span><br>
                    <span class="address-line">{{ model.ShipmentAddressDTO.CompanyName }}</span>
                    <template v-if="model.ShipmentAddressDTO.Attention">
                        <span class="address-line"><text>att. </text> {{ model.ShipmentAddressDTO.Attention }}</span>
                    </template>
                    <br>
                    <span class="address-line">{{ model.ShipmentAddressDTO.Line1 }}</span><br>
                    <span class="address-line">{{ model.ShipmentAddressDTO.PostalCode }} {{ model.ShipmentAddressDTO.City }}</span><br>
                    <span class="address-line">{{ model.ShipmentAddressDTO.CountryName }}</span><br>
                    <span class="address-line"><abbr title="@Html.Resource("Phone", "UcommerceResources")">P:</abbr>{{ model.ShipmentAddressDTO.PhoneNumber }}</span><br>
                    <span class="address-line"><abbr title="@Html.Resource("Mobile", "UcommerceResources")">M:</abbr>{{ model.ShipmentAddressDTO.MobilePhoneNumber }}</span><br>
                    <span class="address-line"><abbr title="@Html.Resource("Email", "UcommerceResources")">E:</abbr><a href="'mailto:' + model.ShipmentAddressDTO.EmailAddress">{{ model.ShipmentAddressDTO.EmailAddress }}</a></span>
                </address>
            </div>
        </div>
        <div class="table-wrapper">
            <div class="table-row t-heading">
                <div class="span2 table-cell">@Html.Resource("ItemNo", "UcommerceResources") </div>
                <div class="span6 table-cell">@Html.Resource("Description", "UcommerceResources")</div>
                <div class="span2 table-cell money">@Html.Resource("Price", "UcommerceResources")</div>
                <div class="span2 table-cell money">@Html.Resource("VAT", "UcommerceResources")</div>
                <div class="span2 table-cell number">@Html.Resource("Quantity", "UcommerceResources")</div>
                <div class="span2 table-cell money">@Html.Resource("Total", "UcommerceResources")</div>
            </div>
            <div class="table-body">
                <template v-for="lineItem in model.OrderLines">
                    <div class="table-row item-preview">
                        <div class="table-cell">{{ lineItem.Sku }}</div>
                        <div class="table-cell">{{ lineItem.ProductName }}</div>
                        <div class="table-cell money">
                            <template v-if="lineItem.Discount.HasValue && lineItem.Discount > 0">
                                <span style="text-decoration: line-through">
                                    {{ lineItem.Price }}
                                </span>
                                {{ lineItem.PriceWithDiscount }}
                            </template>
                            <template v-else>
                                {{ lineItem.Price }}
                            </template>
                        </div>
                        <div class="table-cell money">{{ lineItem.Tax }}</div>
                        <div class="table-cell number">{{ lineItem.Quantity }}</div>
                        <div class="table-cell money">{{ lineItem.Total }}</div>
                    </div>
                </template>
                <div class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">@Html.Resource("SubTotal", "UcommerceResources"): </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell money">
                        {{ model.SubTotal }}
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">@Html.Resource("VAT", "UcommerceResources"): </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell money">
                        {{ model.TaxTotal }}
                    </div>
                </div>
                <div v-if="model.DiscountAmount != 0" class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">@Html.Resource("OrderDiscounts", "UcommerceResources"): </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell money">
                        -{{ model.DiscountTotal }}
                    </div>
                </div>
                <div v-if="model.ShipmentAmount != 0" class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">
                        @Html.Resource("Shipping", "UcommerceResources")
                        <span> (via {{ model.ShipmentName }})</span>
                    </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell money">{{ model.ShippingTotal }}</div>
                </div>
                <div v-if="model.PaymentAmount != 0" class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">
                        @Html.Resource("Payment", "UcommerceResources")
                        <span> ({{ model.PaymentName }})</span>
                    </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell money">{{ model.PaymentTotal }}</div>
                </div>
                <div class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">@Html.Resource("OrderTotal", "UcommerceResources"): </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell money">{{ model.OrderTotal }}</div>
                </div>
            </div>
        </div>
        <checkout-navigation v-bind:model="model" 
                             continue-label="@Html.Resource("CompleteOrder", "UcommerceResources")" 
                             back-label="@Html.Resource("BackButton", "UcommerceResources")"
                             mode="Bootstrap" 
                             back-link-classes="btn btn-back btn-transparent pull-left" 
                             continue-btn-classes="btn btn-success btn-next btn-complete pull-right"
                             :continue-fn="continueFn" 
                             classes="row control-group multistep-btn-a section-margin"></checkout-navigation>
    </template>
</div>