@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;
@using Newtonsoft.Json;
@using Telerik.Sitefinity.Web;

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

@{
    Layout = null;
    var pageNodeUrl = SiteMapBase.GetActualCurrentNode().Url.ToString();
    var currentPageUrl = UrlPath.ResolveUrl(pageNodeUrl, true, true);
}

<div data-component="address-widget" id="address-widget">
    <script type="application/json" purl="true">
        { "purl" : @Html.Raw(JsonConvert.SerializeObject(currentPageUrl)) }
    </script>
    <template v-if="model">
        <div>
            <div class="js-address-billing">
                <h3>@Html.Resource("BillingAddress", "UcommerceResources")</h3>
                <div>
                    <div>
                        <input-field type="text" required=true :model="model" address-type="BillingAddress" field-name="FirstName" label="@Html.Resource("FirstName", "UcommerceResources")" input-classes="form-control required margin-bottom"></input-field>
                    </div>
                    <div>
                        <input-field type="text" required=true :model="model" address-type="BillingAddress" field-name="LastName" label="@Html.Resource("LastName", "UcommerceResources")" input-classes="form-control required margin-bottom"></input-field>
                    </div>
                </div>

                <div>
                    <div>
                        <input-field type="text" required=true :model="model" address-type="BillingAddress" field-name="EmailAddress" label="@Html.Resource("Email", "UcommerceResources")" input-classes="form-control required margin-bottom"></input-field>
                    </div>
                    <div>
                        <input-field type="text" :model="model" address-type="BillingAddress" field-name="Attention" label="@Html.Resource("Attention", "UcommerceResources")" input-classes="form-control margin-bottom"></input-field>
                    </div>
                </div>

                <div>
                    <div>
                        <input-field type="text" :model="model" address-type="BillingAddress" field-name="MobilePhoneNumber" label="@Html.Resource("MobilePhone", "UcommerceResources")" input-classes="form-control margin-bottom"></input-field>
                    </div>
                    <div>
                        <input-field type="text" :model="model" address-type="BillingAddress" field-name="PhoneNumber" label="@Html.Resource("Phone", "UcommerceResources")" input-classes="form-control margin-bottom"></input-field>
                    </div>
                </div>

                <div>
                    <div>
                        <input-field type="text" required=true :model="model" address-type="BillingAddress" field-name="Line1" label="@Html.Resource("Street", "UcommerceResources")" input-classes="form-control required margin-bottom"></input-field>
                    </div>
                    <div>
                        <input-field type="text" :model="model" address-type="BillingAddress" field-name="Line2" label="@Html.Resource("Street2", "UcommerceResources")" input-classes="form-control margin-bottom"></input-field>
                    </div>
                </div>

                <div>
                    <div>
                        <input-field type="text" required=true :model="model" address-type="BillingAddress" field-name="PostalCode" label="@Html.Resource("PostalCode", "UcommerceResources")" input-classes="form-control required margin-bottom"></input-field>
                    </div>

                    <div>
                        <input-field type="text" required=true :model="model" address-type="BillingAddress" field-name="City" label="@Html.Resource("City", "UcommerceResources")" input-classes="form-control required margin-bottom"></input-field>
                    </div>
                </div>

                <div>
                    <div>
                        <label>@Html.Resource("Country", "UcommerceResources")</label>
                        <select id="BillingAddress_CountryId" name="BillingAddress.CountryId" class="countryDropdownCheckout margin-bottom form-control">
                            <option v-for="(country, index) in model.AvailableCountries" :selected="country.Value == model.BillingAddress.CountryId" :value="country.Value">{{ country.Text }}</option>
                        </select>
                    </div>

                    <div>
                        <input-field type="text" :model="model" address-type="BillingAddress" field-name="CompanyName" label="@Html.Resource("Company", "UcommerceResources")" input-classes="form-control margin-bottom"></input-field>
                    </div>
                </div>
            </div>
        </div>

        <div class="js-address-shipping" v-if="model.IsShippingAddressDifferent">
            <legend>@Html.Resource("ShippingAddress", "UcommerceResources")</legend>

            <div>
                <div>
                    <input-field type="text" required=true :model="model" address-type="ShippingAddress" field-name="FirstName" label="@Html.Resource("FirstName", "UcommerceResources")" input-classes="form-control required margin-bottom"></input-field>
                </div>
                <div>
                    <input-field type="text" required=true :model="model" address-type="ShippingAddress" field-name="LastName" label="@Html.Resource("LastName", "UcommerceResources")" input-classes="form-control required margin-bottom"></input-field>
                </div>
            </div>

            <div>
                <div>
                    <input-field type="text" required=true :model="model" address-type="ShippingAddress" field-name="EmailAddress" label="@Html.Resource("Email", "UcommerceResources")" input-classes="form-control required margin-bottom"></input-field>
                </div>
                <div>
                    <input-field type="text" :model="model" address-type="ShippingAddress" field-name="Attention" label="@Html.Resource("Attention", "UcommerceResources")" input-classes="form-control margin-bottom"></input-field>
                </div>
            </div>

            <div>
                <div>
                    <input-field type="text" :model="model" address-type="ShippingAddress" field-name="MobilePhoneNumber" label="@Html.Resource("MobilePhone", "UcommerceResources")" input-classes="form-control margin-bottom"></input-field>
                </div>
                <div>
                    <input-field type="text" :model="model" address-type="ShippingAddress" field-name="PhoneNumber" label="@Html.Resource("Phone", "UcommerceResources")" input-classes="form-control margin-bottom"></input-field>
                </div>
            </div>

            <div>
                <div>
                    <input-field type="text" required=true :model="model" address-type="ShippingAddress" field-name="Line1" label="@Html.Resource("Street", "UcommerceResources")" input-classes="form-control required margin-bottom"></input-field>
                </div>
                <div>
                    <input-field type="text" :model="model" address-type="ShippingAddress" field-name="Line2" label="@Html.Resource("Street2", "UcommerceResources")" input-classes="form-control margin-bottom"></input-field>
                </div>
            </div>

            <div>
                <div>
                    <input-field type="text" required=true :model="model" address-type="ShippingAddress" field-name="PostalCode" label="@Html.Resource("PostalCode", "UcommerceResources")" input-classes="form-control required margin-bottom"></input-field>
                </div>
                <div>
                    <input-field type="text" required=true :model="model" address-type="ShippingAddress" field-name="City" label="@Html.Resource("City", "UcommerceResources") *" input-classes="form-control required margin-bottom"></input-field>
                </div>
            </div>

            <div>
                <div>
                    <label>@Html.Resource("Country", "UcommerceResources")</label>
                    <select id="ShippingAddress_CountryId" name="ShippingAddress.CountryId" class="countryDropdownCheckout margin-bottom form-control">
                        <option v-for="(country, index) in model.AvailableCountries" :selected="country.Value == model.ShippingAddress.CountryId" :value="country.Value">{{ country.Text }}</option>
                    </select>
                </div>
                <div>
                    <input-field type="text" :model="model" address-type="ShippingAddress" field-name="CompanyName" label="@Html.Resource("Company", "UcommerceResources")" input-classes="form-control margin-bottom"></input-field>
                </div>
            </div>
        </div>

        <div>
            <label for="toggleShippingView">

                @Html.Resource("DifferentShippingAddress", "UcommerceResources")
                <input id="IsShippingAddressDifferent" name="IsShippingAddressDifferent" type="checkbox" class="js-address-checkbox" v-model="model.IsShippingAddressDifferent" v-on:change="handleIsShippingAddressDifferent">
            </label>
        </div>


        <checkout-navigation v-bind:model="model"
                             continue-label="@Html.Resource("ContinueToNextStep", "UcommerceResources")"
                             back-label="@Html.Resource("BackButton", "UcommerceResources")"
                             :continue-fn="continueFn"></checkout-navigation>
    </template>
</div>
