@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;

@Html.Script(ScriptRef.JQuery, "top", false)

<div class="@Model.CssClass">
    <ul class="list-unstyled">
        @{
            var lastPostDates = Model.GetLastPostDates();
        }

        @foreach (var item in Model.Items)
        {
            var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);

            <li class="news_item" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id)>
                <h3>
                    <a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@navigateUrl">@item.Fields.Title</a>
                </h3>

                @{
                    var lastPostDate = item.GetLastPostDate(lastPostDates);
                    if (lastPostDate != null && lastPostDate.HasValue)
                    {
                        <p class="text-muted">@Html.Resource("LastPost") : @lastPostDate.Value.ToShortDateString()</p>
                    }
                }

                <div class="text-muted">
                    @item.GetDateTime("PublicationDate", "MMM d, yyyy, HH:mm tt")
                    @Html.Resource("By")
                    @DataResolver.Resolve(item.DataItem, "Author", null)
                    @Html.CommentsCount((string)navigateUrl, item.DataItem)
                </div>

                <div @Html.InlineEditingFieldAttributes("Summary", "ShortText")>@Html.Raw(item.Fields.Summary)</div>

                <a href="@navigateUrl">@Html.Resource("FullStory")</a>
            </li>
        }
    </ul>

    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new
   {
       currentPage = Model.CurrentPage,
       totalPagesCount = Model.TotalPagesCount.Value,
       redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
   })
    }
</div>