@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Web;
@using Newtonsoft.Json;
@using UCommerce.Runtime;

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

@{
    Layout = null;
    string pageNodeUrl = SiteMapBase.GetActualCurrentNode().Url.ToString();
    string currentPageUrl = UrlPath.ResolveUrl(pageNodeUrl, true, true);
    int productId = -1;

    if (SiteContext.Current.CatalogContext.CurrentProduct != null)
    {
        productId = SiteContext.Current.CatalogContext.CurrentProduct.Id;
    }
}

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/main.min.css"), "head")

<div class="mx-3 mx-5 my-5" data-component="review-list" id="review-list">
    <script type="application/json" purl="true">
        {
            "purl" : @Html.Raw(JsonConvert.SerializeObject(currentPageUrl)),
            "pid" : @Html.Raw(JsonConvert.SerializeObject(productId))
        }
    </script>
    <template v-if="Reviews">
        <div id="">
            <div v-if="displayRating">
                <span>@Html.Resource("AverageRating", "UcommerceResources"):</span>
                <show-rating :rating="averageRating"></show-rating>
                <span itemprop="ratingValue">
                   ({{ displayRating }})
                </span>
            </div>
            <div class="mt-3">
                <a itemprop="reviewCount">
                    {{ count }}
                    <template v-if="count != 1">
                        @Html.Resource("Reviews", "UcommerceResources")
                    </template>
                    <template v-else>
                        @Html.Resource("Review", "UcommerceResources")
                    </template>
                </a>
            </div>
        </div>

        <h2 class="h2 mt-4" v-if="count">
            {{ count }}
            <template v-if="count > 1">
                @Html.Resource("Reviews", "UcommerceResources")
            </template>
            <template v-else>
                @Html.Resource("Review", "UcommerceResources")
            </template>
        </h2>
        <div class="mt-5">
            <template v-for="(review, index) of Reviews">
                <div :class="[index != 0 ? 'mt-5': '']">
                    <div>
                        <span class="mr-3">{{ index + 1 }}.</span>
                        <img class="rounded-circle mr-3" src="@Url.WidgetContent("assets/dist/images/default_user.png")" />
                        <span>{{ review.Name }}</span> |
                        <span>
                            <i>{{ formatDate(review.CreatedOn) }}</i>
                        </span>
                    </div>
                    <show-rating :rating="review.Rating"></show-rating>
                    <div class="mt-3 p-2">{{ review.Comments }}</div>
                </div>
            </template>
        </div>
    </template>
</div>