@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

@model UCommerce.Sitefinity.UI.Mvc.ViewModels.CartRenderingViewModel


@Html.StyleSheet(Url.WidgetContent("assets/dist/css/checkout.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.Content("~/bundles/ucommerce-js"), "bottom")
}

@if (Model.OrderLines.Count == 0)
{
    <div class="alert alert-info section-margin">
        <p>Your cart is empty. Please <a href="/">return to our store and add some items</a>.</p>
    </div>
}
else
{
    <div class="cart-table">
        <div class="cart table-wrapper">
            <div class="table-body">
                <div class="table-row t-heading">
                    <div class="span3 table-cell">Description</div>
                    <div class="span1 table-cell money">Price</div>
                    <div class="span1 table-cell money">VAT</div>
                    <div class="span1 table-cell">Quantity</div>
                    <div class="span1 money table-cell">Total</div>
                    <div class="span05 table-cell"></div>
                    <div class="span05 table-cell"></div>
                </div>
                @for (var i = 0; i < Model.OrderLines.Count; i++)
                {
                    var line = Model.OrderLines[i];
                    <div class="table-row item-info order-line" data-orderline="@line.OrderLineId">
                        @Html.HiddenFor(model => model.OrderLines[i].Sku)
                        @Html.HiddenFor(model => model.OrderLines[i].VariantSku)
                        @Html.HiddenFor(model => model.OrderLines[i].OrderLineId)

                        <div class="table-cell"><a class="a-heading" href="@line.ProductUrl">@line.ProductName</a></div>
                        <div class="table-cell money">
                            @if (@line.Discount.HasValue && @line.Discount > 0)
                            {
                                <span style="text-decoration: line-through" data-price>
                                    @line.Price
                                </span>
                                <span data-price-with-discount>
                                    @line.PriceWithDiscount
                                </span>
                            }
                            else
                            {
                                <span data-price>
                                    @line.Price
                                </span>

                            }
                        </div>
                        <div class="table-cell money" data-tax>
                            @line.Tax
                        </div>
                        <div class="table-cell">
                            @Html.TextBoxFor(model => model.OrderLines[i].Quantity, new { @class = "qty form-control inline-block no-padding", data_orderline_id = @Model.OrderLines[i].OrderLineId, data_orderline_qty = @Model.OrderLines[i].Quantity })

                        </div>
                        <div class="table-cell money item-total">
                            @line.Total
                        </div>
                        <div class="table-cell">
                            <button name="update-basket" class="btn-none inline-block update-basket js-update-basket" data-remove-orderline-url="@Model.RemoveOrderlineUrl" data-refresh-url="@Model.RefreshUrl" data-cart-container=".cart-container" data-item-total=".item-total" data-line-remove=".line-remove" data-order-subtotal=".order-subtotal" data-order-tax=".order-tax" data-order-discounts=".order-discounts" data-order-total=".order-total" data-basket="@Model" type="button">
                                <i class="fas fa-sync-alt fa-1x" aria-hidden="true"></i> <span class="btn-text">Update</span>
                            </button>
                        </div>
                        <div class="table-cell">
                            <button type="button" data-line-id="@line.OrderLineId" name="RemoveOrderlineId" class="line-remove"><i class="fas fa-times fa-1x"></i><span class="btn-text">Remove</span></button>
                        </div>
                    </div>
                }
                <div class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">Sub total:</div>
                    <div class="money table-cell order-subtotal">
                        @Model.SubTotal
                    </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                </div>
                <div class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">VAT:</div>
                    <div class="table-cell money order-tax">
                        @Model.TaxTotal
                    </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                </div>
                <div class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell">Discounts:</div>
                    <div class="table-cell money order-discounts">
                        @Model.DiscountTotal
                    </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                </div>
                <div class="table-row">
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell border-cell-0 empty-cell">&nbsp;</div>
                    <div class="table-cell" colspan="1"><strong>Order total:</strong></div>
                    <div class="table-cell money order-total">
                        @Model.OrderTotal
                    </div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                    <div class="table-cell empty-cell">&nbsp;</div>
                </div>
            </div>
        </div>


        <div class="control-group margin-top">
            <div class="controls">
                @{
                    var showContinueButton = true;

                    if (Model.NextStepUrl == "")
                    {
                        showContinueButton = false;
                    }

                }
                <a href="@Model.NextStepUrl"><button style="@(showContinueButton ? "display:block" : "display:none")" type="button" class="btn btn-success btn-next pull-right" name="review-product">Continue</button></a>
            </div>
        </div>
    </div>
}
