@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)

<div class="@Model.CssClass row">
        @foreach (var item in Model.Items)
        {
            var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
            <div @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id)>
                <div class="col-md-2 testimonial-quote-icon">
                    <img src="~/ResourcePackages/Bootstrap/assets/dist/images/quote-image.png" />
                </div>
                <div class="col-md-10 testimonial-quote">
                    <h3 @Html.InlineEditingFieldAttributes("Quote", "LongText")>
                        @*Start Quote field*@
                        @Html.Raw(item.Fields.Quote)
                        @*End Quote field*@
                    </h3>                    
                    <div class="testimonial-image">
                        <div class="col-md-2">
                            @*Start Photo field*@
                            @if (item.Fields.Photo != null)
                            {
                                <img src='@item.Fields.Photo.Fields.MediaUrl' alt='@item.Fields.Photo.Fields.AlternativeText' title='@item.Fields.Photo.Fields.Title' />
                            }
                            @*End Photo field*@
                        </div>
                        <div class="col-md-10">
                            <strong @Html.InlineEditingFieldAttributes("TestimonialAuthor", "ShortText")>@item.Fields.TestimonialAuthor</strong><br />
                            <span @Html.InlineEditingFieldAttributes("JobTitle", "ShortText")>@item.Fields.JobTitle, </span><span @Html.InlineEditingFieldAttributes("Company", "ShortText")>@item.Fields.Company</span>
                        </div>
                    </div>
                    @*End JobTitle field*@
                </div>		
            </div>
        }
</div>