@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)

<div class="@Model.CssClass slider-testimonial">
        @foreach (var item in Model.Items)
        {
            var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
            <div @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id)>
                
                <div class="col-md-6 ">
                    @*Start Quote field*@
                    <blockquote @Html.InlineEditingFieldAttributes("Quote", "LongText")>"@Html.Raw(item.Fields.Quote)"</blockquote>
                    @*End Quote field*@
                </div>
                <div class="col-md-6 testimonial-author">
                    @*Start Photo field*@
                    @if (item.Fields.Photo != null)
                    {
                        <img class="slider-testimonial-img" src='@item.Fields.Photo.Fields.MediaUrl' alt='@item.Fields.Photo.Fields.AlternativeText' title='@item.Fields.Photo.Fields.Title' />
                    }
                    @*End Photo field*@

                    <p @Html.InlineEditingFieldAttributes("TestimonialAuthor", "ShortText")>@item.Fields.TestimonialAuthor</p>
                    @*Start JobTitle/Company field*@
                    <p>
                        <span @Html.InlineEditingFieldAttributes("JobTitle", "ShortText")>@item.Fields.JobTitle</span>,<span @Html.InlineEditingFieldAttributes("Company", "ShortText")>@item.Fields.Company</span>
                    </p>
                    @*End JobTitle field*@
                </div>


			
            </div>
        }
</div>