@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;

@{
    Layout = null;
}

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/main.min.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

<div data-component="checkout-overview" id="checkout-overview">
    <template v-if="model">
        <div class="container-fluid">
            <div class="row overflow-hidden mt-5 bg-light rounded mb-3 p-4">
                <div class="col-md-6">
                    <h3>@Html.Resource("BillingAddress", "UcommerceResources")</h3>
                    <hr />
                    <br />
                    <address>
                        <span><strong>{{ model.BillingAddressDTO.FirstName }} {{ model.BillingAddressDTO.LastName }}</strong></span><br>
                        <span>{{ model.BillingAddressDTO.Line1 }}<br></span>
                        <span>{{ model.BillingAddressDTO.PostalCode }} {{ model.BillingAddressDTO.City }}</span><br>
                        <span>{{ model.BillingAddressDTO.CountryName }}</span>
                        <template v-if="model.BillingAddressDTO.Attention">
                            <span><text>att. </text> {{ model.BillingAddressDTO.Attention }}</span>
                        </template>
                        <br>
                        <span><abbr class="pr-2" title="@Html.Resource("Phone", "UcommerceResources")">P:</abbr>{{ model.BillingAddressDTO.PhoneNumber }}</span><br>
                        <span><abbr class="pr-2" title="@Html.Resource("Mobile", "UcommerceResources")">M:</abbr>{{ model.BillingAddressDTO.MobilePhoneNumber }} </span><br>
                        <span><abbr class="pr-2" title="@Html.Resource("Email", "UcommerceResources")">E:</abbr><a :href="'mailto:' + model.BillingAddressDTO.EmailAddress">{{ model.BillingAddressDTO.EmailAddress }}</a></span>
                    </address>
                </div>
                <div class="col-md-6">
                    <h3>@Html.Resource("ShippingAddress", "UcommerceResources")</h3>
                    <hr />
                    <br />
                    <address>
                        <span><strong>{{ model.ShipmentAddressDTO.FirstName }} {{ model.ShipmentAddressDTO.LastName }}</strong></span><br>
                        <span>{{ model.ShipmentAddressDTO.CompanyName }}</span>
                        <template v-if="model.ShipmentAddressDTO.Attention">
                            <span><text>att. </text> {{ model.ShipmentAddressDTO.Attention }} </span>
                        </template>
                        <br />
                        <span>{{ model.ShipmentAddressDTO.Line1 }} </span><br>
                        <span>{{ model.ShipmentAddressDTO.PostalCode }} {{ model.ShipmentAddressDTO.City }}</span><br>
                        <span>{{ model.ShipmentAddressDTO.CountryName }}</span><br>
                        <span><abbr class="pr-2" title="@Html.Resource("Phone", "UcommerceResources")">P:</abbr>{{ model.ShipmentAddressDTO.PhoneNumber }}</span><br>
                        <span><abbr class="pr-2" title="@Html.Resource("Mobile", "UcommerceResources")">M:</abbr>{{ model.ShipmentAddressDTO.MobilePhoneNumber }}</span><br>
                        <span><abbr class="pr-2" title="@Html.Resource("Email", "UcommerceResources")">E:</abbr><a :href="'mailto:' + model.ShipmentAddressDTO.EmailAddress">{{ model.ShipmentAddressDTO.EmailAddress }}</a></span>
                    </address>
                </div>
            </div>

        </div>
        <div class="container-fluid mb-5">
            <div class="row border-bottom py-2 d-none d-md-flex">
                <div class="col-md-2">
                    <span class="font-weight-bold">@Html.Resource("ItemNo", "UcommerceResources")</span>
                </div>
                <div class="col-md-4">
                    <span class="font-weight-bold">@Html.Resource("Description", "UcommerceResources")</span>
                </div>
                <div class="col-md-2">
                    <span class="font-weight-bold">@Html.Resource("Price", "UcommerceResources")</span>
                </div>
                <div class="col-md-1">
                    <span class="font-weight-bold">
                        @Html.Resource("VAT", "UcommerceResources")
                    </span>
                </div>
                <div class="col-md-1">
                    <span class="font-weight-bold">@Html.Resource("Quantity", "UcommerceResources")</span>
                </div>
                <div class="col-md-2">
                    <span class="font-weight-bold">@Html.Resource("Total", "UcommerceResources")</span>
                </div>
            </div>
            <template v-for="lineItem in model.OrderLines">

                <div class="row border-bottom py-3">
                    <div class="col-md-2 mb-2 mb-md-0">
                        <span class="font-weight-bold d-md-none">@Html.Resource("ItemNo", "UcommerceResources"): </span> <span class="text-info">{{ lineItem.Sku }}</span>
                    </div>
                    <div class="col-md-4 mb-2 mb-md-0">
                        <span class="font-weight-bold d-md-none">@Html.Resource("Description", "UcommerceResources"): </span> <span class="text-info d-block d-md-inline-block">{{ lineItem.ProductName }}</span>
                    </div>

                    <div class="col-md-2 money mb-2 mb-md-0">
                        <span class="font-weight-bold d-md-none">@Html.Resource("Price", "UcommerceResources"): </span>
                        <template v-if="lineItem.Discount.HasValue && lineItem.Discount > 0">
                            <span>
                                {{ lineItem.Price }}
                            </span>
                            {{ lineItem.PriceWithDiscount }}
                        </template>
                        <template v-else>
                            {{ lineItem.Price }}
                        </template>
                    </div>

                    <div class="col-md-1 money mb-2 mb-md-0" data-tax>
                        <span class="font-weight-bold d-md-none">@Html.Resource("VAT", "UcommerceResources")</span>
                        {{ lineItem.Tax }}
                    </div>
                    <div class="col-md-1 mb-2 mb-md-0">
                        <span class="font-weight-bold d-md-none">@Html.Resource("Quantity", "UcommerceResources"): </span>
                        {{ lineItem.Quantity }}
                    </div>
                    <div class="col-md-2 money item-total mb-1 mb-md-0">
                        <span class="font-weight-bold d-md-none">@Html.Resource("Total", "UcommerceResources"): </span>
                        {{ lineItem.Total }}
                    </div>
                </div>
            </template>
            <div class="row border-bottom py-2">
                <div class="offset-md-8 col-md-2">
                    <span class="font-weight-bold">@Html.Resource("SubTotal", "UcommerceResources"):</span>
                </div>
                <div class="col-md-2 money order-subtotal">
                    {{ model.SubTotal }}
                </div>
            </div>
            <div class="row border-bottom py-2">
                <div class="offset-md-8 col-md-2">
                    <span class="font-weight-bold">@Html.Resource("VAT", "UcommerceResources"):</span>
                </div>
                <div class="col-md-2 money order-tax">
                    {{ model.TaxTotal }}
                </div>
            </div>

            <div v-if="model.DiscountAmount != 0" class="row border-bottom py-2">
                <div class="offset-md-8 col-md-2">
                    <span class="font-weight-bold">@Html.Resource("OrderDiscounts", "UcommerceResources"):</span>
                </div>
                <div class="col-md-2 money order-discounts">
                    -{{ model.DiscountTotal }}
                </div>
            </div>

            <div v-if="model.ShipmentAmount != 0" class="row border-bottom py-2">
                <div class="offset-md-8 col-md-2">
                    <span class="font-weight-bold">
                        @Html.Resource("Shipping", "UcommerceResources")
                        <text> (via {{ model.ShipmentName }})</text>:
                    </span>
                </div>
                <div class="col-md-2 money order-discounts">
                    {{ model.ShippingTotal }}
                </div>
            </div>


            <div v-if="model.PaymentAmount != 0" class="row border-bottom py-2">
                <div class="offset-md-8 col-md-2">
                    <span class="font-weight-bold">
                        @Html.Resource("Payment", "UcommerceResources")
                        <text> ({{ model.PaymentName }})</text>:
                    </span>
                </div>
                <div class="col-md-2 money order-discounts">
                    {{ model.PaymentTotal }}
                </div>
            </div>

            <div class="row border-bottom py-2">
                <div class="offset-md-8 col-md-2">
                    <span class="font-weight-bold">@Html.Resource("OrderTotal", "UcommerceResources"):</span>
                </div>
                <div class="col-md-2 money order-total">
                    {{ model.OrderTotal }}
                </div>
            </div>
            <checkout-navigation v-bind:model="model"
                                 continue-label="@Html.Resource("CompleteOrder", "UcommerceResources")"
                                 back-label="@Html.Resource("BackButton", "UcommerceResources")"
                                 :continue-fn="continueFn" 
                                 mode="Bootstrap4"  
                                 back-link-classes="btn btn-light btn-lg float-md-left"
                                 continue-btn-classes="btn btn-info btn-lg w-100 mt-3 mt-md-0 float-md-right"
                                 classes="row mt-4">
            </checkout-navigation>
        </div>
    </template>
</div>


