@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@model UCommerce.Sitefinity.UI.Mvc.ViewModels.PaymentPickerViewModel
@{
    Layout = null;
}
@Html.StyleSheet(Url.WidgetContent("assets/dist/css/checkout.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.Content("~/bundles/ucommerce-js"), "bottom")
}

<div class="section-margin">
    @using (Html.BeginFormSitefinity("CreatePayment", "PaymentPicker", FormMethod.Post))
    {
        <h3 class="heading-underline">Payment method</h3>
        if (@Model.AvailablePaymentMethods.Count > 0)
        {
            foreach (var paymentMethod in @Model.AvailablePaymentMethods)
            {
                <div class="radio-btn-ml section-margin">
                    <label class="radio">
                        @if (paymentMethod.Selected)
                        {
                            @Html.RadioButtonFor(x => x.SelectedPaymentMethodId, paymentMethod.Value, new { Checked = "checked" })
                            @paymentMethod.Text
                        }
                        else
                        {
                            @Html.RadioButtonFor(x => x.SelectedPaymentMethodId, paymentMethod.Value, new { Checked = "checked" })
                            @paymentMethod.Text
                        }
                    </label>
                </div>
            }
            <div class="row control-group multistep-btn-a section-margin">
                <div class="col-md-6 padding-0">
                    @{
                        var showBackButton = true;

                        if (Model.NextStepUrl == "")
                        {
                            showBackButton = false;
                        }
                    }
                    <a href="@Model.PreviousStepUrl" class="btn btn-next btn-transparent pull-left" style="@(showBackButton ? "display:block" : "display:none")">Back</a>
                </div>
                <div class="col-md-6 padding-0">
                    @{
                        var showContinueButton = true;

                        if (Model.NextStepUrl == "")
                        {
                            showContinueButton = false;
                        }
                    }
                    <input type="submit" class="btn btn-success pull-right submit-address" style="@(showContinueButton ? "display:block" : "display:none")" value="Continue to next step" />
                </div>
            </div>
        }
        else
        {
            <p class="alert">
                WARNING: No payment methods have been configured for @Model.ShippingCountry within <a href="http://ucommerce.dk">UCommerce</a> administration area.
            </p>
        }
    }
</div>