@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.LanguageSelector.LanguageSelectorViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;


<div class="@Model.CssClass sf-lang-selector">
    <div class="dropdown">
        <button type="button" href="#" data-toggle="dropdown" class="dropdown-toggle search-button-icon" aria-expanded="false" id="langDropdownMenuLink" aria-haspopup="true">
            <span class="fa fa-globe"></span>
        </button>
        <div class="dropdown-menu mega-menu language-view-menu" aria-labelledby="langDropdownMenuLink">
            <ul class="sf-lang-selector list-unstyled">
                @foreach (var language in Model.Languages)
                {
                    <li>
                        @if (SystemManager.IsDesignMode)
                {
                            <a href="" onclick="return false;" class="@GetClass(language.Culture)">@language.DisplayName</a>
                        }
                        else
                        {
                            <a href="" onclick="openLink('@language.Culture'); return false;" class="@GetClass(language.Culture)">@language.DisplayName</a>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>

</div>

@*Resolves the class that will be added for each language link depending whether it is the current language*@
@helper GetClass(string culture)
{
if (Model.CurrentLanguage == culture)
{
        @Html.Raw("selected");
    }
}

@Html.Script(Url.WidgetContent("Mvc/Scripts/LanguageSelector/language-selector.js"), "bottom", false)