@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;

<div class="@Model.CssClass">
        <ul class="list-unstyled news_container col-xs-12">
            @foreach (var item in Model.Items)
            {
                var featured = (@item.Fields.Featured) ? "featured_news" : "news_item";
                var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
                var imageThumbnail = (@item.Fields.Thumbnail != null) ? "<img src=\"" + @item.Fields.Thumbnail.Fields.ThumbnailUrl.Replace("tmb-", "tmb-thumnail-6") + "\" alt='" + @item.Fields.Thumbnail.Fields.AlternativeText + "' title='" + @item.Fields.Thumbnail.Fields.Title + "'>" : "";
            <li class="@featured" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id)>
                    <div class="col-lg-8 col-xs-12">
                        <div class="col-xs-12">
                            <a href="@navigateUrl">@Html.Raw(@imageThumbnail)</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <h3>
                            <a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@navigateUrl">@item.Fields.Title</a>
                        </h3>
                        <span class="text-muted">
                            @item.GetDateTime("PublicationDate", "MMM d, yyyy, HH:mm tt")
                            @Html.Resource("By")
                            @DataResolver.Resolve(item.DataItem, "Author", null)
                        </span>
                        <div>
                            <a href="@navigateUrl">@Html.Resource("FullStory")</a>
                        </div>
                    </div>
                @if (@item.Fields.Featured)
                {
                    <div class="ribbon"><span>FEATURED</span></div>
                }
            </li>  
            }
        </ul>


        @if (Model.ShowPager)
            {
            @Html.Action("Index", "ContentPager", new
               {
                   currentPage = Model.CurrentPage,
                   totalPagesCount = Model.TotalPagesCount.Value,
                   redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
               })
        }
    </div>

