@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Web;
@using Newtonsoft.Json;

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/checkout.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

@{
    Layout = null;
    var pageNodeUrl = SiteMapBase.GetActualCurrentNode().Url.ToString();
    var currentPageUrl = UrlPath.ResolveUrl(pageNodeUrl, true, true);
}

<h3 class="heading-underline">@Html.Resource("PaymentMethod", "UcommerceResources")</h3>

<div data-component="payment-widget" id="payment-method">
    <script type="application/json" purl="true">
        { "purl" : @Html.Raw(JsonConvert.SerializeObject(currentPageUrl)) }
    </script>
    <template v-if="model">
        <template v-if="model.AvailablePaymentMethods.length">
            <template v-for="method in model.AvailablePaymentMethods" :model="model">
                <div>
                    <label>
                        <input id="SelectedPaymentMethodId" name="SelectedPaymentMethodId" type="radio" :value="method.Value" :checked="method.Value == model.SelectedPaymentMethodId"> {{ method.Text }}
                    </label>
                </div>
            </template>
            <checkout-navigation v-bind:model="model"
                                 :continue-fn="submit"
                                 continue-label="@Html.Resource("ContinueToNextStep", "UcommerceResources")"
                                 back-label="@Html.Resource("BackButton", "UcommerceResources")"
                                 classes=""></checkout-navigation>
        </template>
        <template v-else>
            <p>
                WARNING: No payment methods have been configured for {{ model.ShippingCountry }} within <a href="http://ucommerce.dk">UCommerce</a> administration area.
            </p>
        </template>
    </template>
</div>
