@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/main.min.css"), "head")

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

<div data-component="review-form" id="review-form" class="mx-3 mx-5 my-5">
    <h2 class="h2">
        @Html.Resource("WriteReview", "UcommerceResources")
    </h2>
    <div class="mt-3">
        <textarea class="form-control" rows="10" v-model="comments"></textarea>
    </div>
    <div class="mt-3">
        <span>@Html.Resource("Rating", "UcommerceResources"):</span>
        <div>
            <span v-on:click="setRating(1)" class="mr-2" :class="star1">&#9733;</span>
            <span v-on:click="setRating(2)" class="mr-2" :class="star2">&#9733;</span>
            <span v-on:click="setRating(3)" class="mr-2" :class="star3">&#9733;</span>
            <span v-on:click="setRating(4)" class="mr-2" :class="star4">&#9733;</span>
            <span v-on:click="setRating(5)" class="mr-2" :class="star5">&#9733;</span>
        </div>
    </div>
    <div class="container-fluid" v-if="comments">
        <div class="mt-4 row">
            <div class="col-2 px-0">
                <label>@Html.Resource("YourName", "UcommerceResources")</label>
            </div>
            <div class="col-10 px-0">
                <input class="form-control d-inline-block w-50" v-model="userName" type="text">
            </div>
        </div>
        <div class="mt-3 row">
            <div class="col-2 px-0">
                <label>@Html.Resource("EmailOptional", "UcommerceResources")</label>
            </div>
            <div class="col-10 px-0">
                <input class="form-control d-inline-block w-50" v-model="userEmail" type="text">
            </div>
        </div>
    </div>
    <div>
        <input type="submit" v-on:click="submit" class="btn btn-info mt-2" value="@Html.Resource("Submit", "UcommerceResources")">
    </div>
</div>
<style>
    .star.on {
        color: #ffcc00;
        font-size: 20px;
    }
</style>