@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Web.DataResolving;

<div class="@Model.CssClass blog_item_detail" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>
    <h1>
        <span @Html.InlineEditingFieldAttributes("Title", "ShortText")>@Model.Item.Fields.Title</span>
    </h1>

    <div class="text-muted">
        @Model.Item.GetDateTime("PublicationDate", "MMM d, yyyy, HH:mm tt")
        @Html.Resource("By")
        @DataResolver.Resolve(@Model.Item.DataItem, "Author", null)
    </div>

    <div class="blog_summary" @Html.InlineEditingFieldAttributes("Summary", "LongText")><span class="fa fa-quote-left blog_summary_quote"></span>@Html.Raw(Model.Item.Fields.Summary)</div>

    <div @Html.InlineEditingFieldAttributes("Content", "LongText")>@Html.Raw(Model.Item.Fields.Content)</div>

    @if (Model.EnableSocialSharing)
    {
        @Html.SocialShareOptions()
    }

    @Html.CommentsList(@Model.Item.DataItem)
</div>