@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;
@using Newtonsoft.Json;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web;
@using Ucommerce.Api
@using Ucommerce.Infrastructure

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/products-review.css"), "head")
@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}
@{
	Layout = null;
	var catalogContext = ObjectFactory.Instance.Resolve<ICatalogContext>();
	string pageNodeUrl = SiteMapBase.GetCurrentNode().Url.ToString();
	string currentPageUrl = UrlPath.ResolveUrl(pageNodeUrl, true, true);
	string productId = string.Empty;

	if (catalogContext.CurrentProduct != null)
	{
		productId = catalogContext.CurrentProduct.Guid.ToString();
	}

	string categoryId = string.Empty;

	if (catalogContext.CurrentCategory != null)
	{
		categoryId = catalogContext.CurrentCategory.Guid.ToString();
	}

	string catalogGroupId = string.Empty;

	if (catalogContext.CurrentCatalogGroup != null)
	{
		catalogGroupId = catalogContext.CurrentCatalogGroup.Guid.ToString();
	}
}

<div data-component="review-form" id="review-form" class="review-form">
    <script type="application/json" purl="true">
        {
        "purl" : @Html.Raw(JsonConvert.SerializeObject(currentPageUrl)),
        "pid" : @Html.Raw(JsonConvert.SerializeObject(productId)),
        "cid" : @Html.Raw(JsonConvert.SerializeObject(categoryId)),
        "cgid" : @Html.Raw(JsonConvert.SerializeObject(catalogGroupId))
        }
    </script>
    <h2 class="sfcommentsTitle">
        @Html.Resource("WriteReview", "UcommerceResources")
    </h2>
    <div class="review-form-inner">
        <div class="review-textarea-wrapper">
            <textarea v-model="comments"></textarea>
        </div>
    </div>
    <div class="review-form-inner">
        <span class="sfRatingLabel">@Html.Resource("Rating", "UcommerceResources"):</span>
        <div class="sfStarsWrapper">
            <div v-on:click="setRating(1)" :class="star1"></div>
            <div v-on:click="setRating(2)" :class="star2"></div>
            <div v-on:click="setRating(3)" :class="star3"></div>
            <div v-on:click="setRating(4)" :class="star4"></div>
            <div v-on:click="setRating(5)" :class="star5"></div>
        </div>
    </div>
    <div v-if="comments">
        <div class="review-form-inner">
            <label>@Html.Resource("YourName", "UcommerceResources")</label>
            <input v-model="userName" type="text">
        </div>
        <div class="review-form-inner">
            <label>@Html.Resource("EmailOptional", "UcommerceResources")</label>
            <input v-model="userEmail" type="text">
        </div>
    </div>
    <div>
        <input type="submit" v-on:click="submit" value="@Html.Resource("Submit", "UcommerceResources" )" class="sfcommentsSubmitBtn">
    </div>
</div>
