@using System.Web.Mvc
@using System.Web.Mvc.Html
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Web;
@using Newtonsoft.Json;

@if (!SystemManager.IsDesignMode)
{
    @Html.Script(Url.WidgetContent("assets/build/js/vendor.bundle.js"), "bottom", false)
    @Html.Script(Url.WidgetContent("assets/build/js/main.js"), "bottom", false)
}

@{
    Layout = null;
    string pageNodeUrl = SiteMapBase.GetActualCurrentNode().Url.ToString();
    string currentPageUrl = UrlPath.ResolveUrl(pageNodeUrl, true, true);
}

@Html.StyleSheet(Url.WidgetContent("assets/dist/css/main.min.css"), "head")

<div class="container-fluid my-5 pb-5" data-component="cart" id="shopping-cart">
    <script type="application/json" purl="true">
        { "purl" : @Html.Raw(JsonConvert.SerializeObject(currentPageUrl)) }
    </script>
    <hgroup>
        <h1 class="mb-4">@Html.Resource("ShoppingCart", "UcommerceResources")</h1>
            <template v-if="(model && model.OrderLines && model.OrderLines.length > 0)">
                {{ model.OrderLines.length }}&nbsp;items
            </template>
    </hgroup>
    <template v-if="model">
        <template v-if="model.OrderLines.length == 0">
            <div class="alert alert-info section-margin">
                <p>@Html.Resource("YourCartIsEmpty","UcommerceResources") <a :href="model.RedirectUrl">@Html.Resource("ReturnToStore", "UcommerceResources")</a>.</p>
            </div>
        </template>
        <template v-else>
            <div class="row border-bottom py-2 d-none d-md-flex">
                <div class="col-md-1">

                </div>
                <div class="col-md-3">
                    <span class="span3 font-weight-bold">@Html.Resource("Description", "UcommerceResources")</span>
                </div>
                <div class="col-md-1">
                    <span class="span1 money font-weight-bold">@Html.Resource("Price", "UcommerceResources")</span>
                </div>
                <div class="col-md-1">
                    <span class="span1 money font-weight-bold">@Html.Resource("VAT", "UcommerceResources")</span>
                </div>
                <div class="col-md-1">
                    <span class="span1 font-weight-bold">@Html.Resource("Quantity", "UcommerceResources")</span>
                </div>
                <div class="col-md-1">
                    <span class="span1 money font-weight-bold">@Html.Resource("Total", "UcommerceResources")</span>
                </div>
                <div class="col-md-2">
                    <span class="span05">

                    </span>
                </div>
                <div class="col-md-2">
                    <span>

                    </span>
                </div>
            </div>
            <template v-for="(line, key) in model.OrderLines" :key="item.OrderLineId">
                <div class="row border-bottom order-line py-3">
                    <input :id="'OrderLines_' + key + '__Sku'" :name="'OrderLines[' + key + '].Sku'" type="hidden" :value="line.Sku">
                    <input :id="'OrderLines_' + key + '__VariantSku'" :name="'OrderLines[' + key + '].VariantSku'" type="hidden" :value="line.VariantSku">
                    <input :id="'OrderLines_' + key + '__OrderLineId'" :name="'OrderLines[' + key + '].OrderLineId'" type="hidden" :value="line.OrderLineId">
                    <div class="col-md-1">
                        <figure>
                            <img :title="line.ProductName" :src="line.ThumbnailUrl" :alt="line.ProductName" />
                        </figure>
                    </div>

                    <div class="col-md-3 mb-2 mb-md-0">
                        <span class="font-weight-bold d-md-none">@Html.Resource("Description", "UcommerceResources"): </span> <a class="text-info d-block d-md-inline-block" :href="line.ProductUrl">{{ line.ProductName }}</a>
                    </div>

                    <div class="col-md-1 money mb-2 mb-md-0">
                        <span class="font-weight-bold d-md-none">@Html.Resource("Price", "UcommerceResources"): </span>
                        <template v-if="line.Discount && line.Discount > 0">
                            <span>
                                {{ line.Price }}
                            </span>
                            <span>
                                {{ line.PriceWithDiscount }}
                            </span>
                        </template>
                        <template v-else>
                            <span>
                                {{ line.Price }}
                            </span>
                        </template>
                    </div>

                    <div class="col-md-1 money mb-2 mb-md-0" data-tax>
                        <span class="font-weight-bold d-md-none">@Html.Resource("VAT", "UcommerceResources")</span>
                        {{ line.Tax }}
                    </div>
                    <div class="col-md-1 mb-2 mb-md-0">
                        <span class="font-weight-bold d-md-none">@Html.Resource("Quantity", "UcommerceResources"): </span>
                        <input class="qty form-control d-inline-block p-0 pl-1" type="number" v-model="line.Quantity">
                    </div>
                    <div class="col-md-1 money item-total mb-1 mb-md-0">
                        <span class="font-weight-bold d-md-none">@Html.Resource("Total", "UcommerceResources"): </span>
                        {{ line.Total }}
                    </div>
                    <div class="col-md-2 mb-3 mb-md-0">
                        <button name="update-basket" v-on:click="updateCartItems" class="btn btn-info btn d-inline-block float-right js-update-basket" type="button">
                            <span class="h6 mr-2 text-white">&#10227;</span> <span>@Html.Resource("Update", "UcommerceResources")</span>
                        </button>
                    </div>
                    <div class="col-md-2 mb-2 mb-md-0">
                        <button type="button" v-on:click="removeCartItem(line.OrderLineId)" name="RemoveOrderlineId" class="line-remove btn float-right btn-info btn"><span class="h6 mr-2 text-white">&#10005;</span><span>@Html.Resource("Remove", "UcommerceResources")</span></button>
                    </div>
                </div>
            </template>
            <div class="row border-bottom py-2 text-right">
                <div class="offset-md-8 col-md-2">
                    <span class="font-weight-bold">@Html.Resource("SubTotal", "UcommerceResources"):</span>
                </div>
                <div class="col-md-2 money order-subtotal">
                    {{ model.SubTotal }}
                </div>
            </div>
            <div class="row border-bottom py-2 text-right">
                <div class="offset-md-8 col-md-2">
                    <span class="font-weight-bold">@Html.Resource("VAT", "UcommerceResources"):</span>
                </div>
                <div class="col-md-2 money order-tax">
                    {{ model.TaxTotal }}
                </div>
            </div>
            <div v-if="model.DiscountTotal" class="row border-bottom py-2 text-right">
                <div class="offset-md-8 col-md-2">
                    <span class="font-weight-bold">@Html.Resource("Discounts", "UcommerceResources"):</span>
                </div>
                <div class="col-md-2 money order-discounts">
                    {{ model.DiscountTotal }}
                </div>
            </div>
            <div class="row border-bottom py-2 text-right">
                <div class="offset-md-8 col-md-2">
                    <span class="font-weight-bold">@Html.Resource("OrderTotal", "UcommerceResources"):</span>
                </div>
                <div class="col-md-2 money order-total">
                    {{ model.OrderTotal }}
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <a class="text-info float-right" href="/shop/e-shop">@Html.Resource("ContinueShopping", "UcommerceResources")</a>
                </div>
            </div>
            <checkout-navigation v-bind:model="model"
                                 next-step-link=true
                                 continue-label="@Html.Resource("Continue", "UcommerceResources")"
                                 back-label="@Html.Resource("BackButton", "UcommerceResources")"
                                 mode="Bootstrap4"
                                 back-link-classes="btn btn-light btn-lg float-left"
                                 continue-btn-classes="btn btn-info btn-lg float-right"
                                 classes="mt-4">
            </checkout-navigation>
        </template>
    </template>
</div>

